<!DOCTYPE html>
<html>
<head>
  <title>SupportStarterProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'scaffolds' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= link_to root_path do %>
    <%= image_tag("logo.jpg", class: "header-logo") %>
  <% end %>
</header>

<%= yield %>

</body>
</html>
